<div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
      aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary">search</button>
</div>
<div class="challenges" *ngFor="let challenge of challengeList">
    <a type="button" (click)="viewChallenge(challenge)">
        <div class="card mb-3">
            <img class="card-img-top" src="{{ challenge.challengeImage }}" alt="Card image cap" style="height:40vh; padding:0.5em">
            <div class="card-body">
                <h3 class="card-title">{{challenge.challengeName}}</h3>
                <p class="card-text">{{challenge.description}}</p>
                <div class="basicInfo">
                    <div class="basicInfoCard">
                    <i class="fas fa-hourglass-half fa-lg"></i>
                    <h5>{{ challenge.endDate }}</h5>
                    </div>
                    <span>&#124;</span>
                    <div class="basicInfoCard">
                    <i class="fas fa-rupee-sign fa-lg"></i>
                    <h5>{{ challenge.rewardPrize }}</h5>
                    </div>
                    <span>&#124;</span>
                    <div class="basicInfoCard">
                    <i class="fas fa-user-plus fa-lg"></i>
                    <h5>{{ challenge.registrations }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
