/* You can add global styles to this file, and also import other style files */
body{
    margin-top: 7%;
    width: 100vw;
}
html, body { height: 100%; }
body { margin-top: 7%; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin-top: 7%; font-family: Roboto, "Helvetica Neue", sans-serif; }
