@import '~@angular/material/theming';

@include mat-core();

$theme-primary: mat-palette($mat-purple);
$theme-accent: mat-palette($mat-pink,A200,A100,A400);
$theme-warn:mat-palette($mat-red);

$theme:mat-light-theme($theme-primary,$theme-accent,$theme-warn);

@include angular-material-theme($theme);