<div class="container mt-5">
    <h2>Stripe Checkout</h2>
    <div class="row mt-5">
      <div class="col-md-4">
       Enter the amount: <input type="number" class="box" name="amount" id="amount">
      <button (click)="pay(amount)"  class="butt-out">Proceed to pay</button>
      </div>
      <!--<div class="col-md-4">
        <button class="btn btn-success btn-block">Pay $30</button>
      </div>
      <div class="col-md-4">
        <button  class="btn btn-info btn-block">Pay $50</button>
      </div> -->   
    </div>
  </div>
