.carousel-section{
    background-color: black;
    height: 580vh;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 50%;
    height: 2vh;
}


.hero-unit-mask{
    text-align: left;
    position: absolute;
    z-index: 0;
    width: 100%;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.hover-underline{
    text-decoration: none;
    text-align: end;
}

.hero-unit-mask p{
    padding-left: 1vw;
    font-size: 3.5vw;
    transform: translateY(9vw);
    color: black;
    font-weight: 700;
}

.hero-image {
    display: block;
    overflow: visible;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}