<!--Hero-unit-->
<div id="intro" class="view">

    <div class="mask rgba-black-strong">

        <div class="container-fluid d-flex justify-content-left h-100">

            <div class="row d-flex justify-content-left text-left">

                <div class="flex items-baseline align-items-center col-md-15">

                    <!-- Heading -->
                    <h1 class="display-4 font-weight-bold white-text pt-5 mb-2" style="font-size:xx-large; font-weight: 500; margin-top: 12vh;">Innovates with <i>INNOVEST</i></h1>

                    <!-- Divider -->
                    <hr class="hr-dark">

                    <!-- Description -->
                    <h2 class="white-text md-5" style="font-weight: 500;">Solve the world's greatest challenges.</h2>

                    <section class="collapse-section md-5">
                        <button class="btn btn-outline-white" data-toggle="collapse" href="#readmore" role="button"
                            aria-expanded="false" aria-controls="collapseExample" style="font-weight: 500; margin-left: 6vw;">
                            <p class="hover-underline-animation">Read More</p>
                            <i class="fa fa-book ml-2"></i></button>
                        <div class="collapse col-md-5" id="readmore">
                            <div class="card card-body" style="width: 67%; height:fit-content; background-color: rgb(63,1,63); color: wheat;">
                            <h2 class="white-text" style="color: white;">Innovators + Investors = Innovest</h2>
                            <h4 class="white-text">We have created Open Innovest as a crowdsourcing platform for
                                start-ups, entrepreneurs, companies, government - anyone who aspires to create solutions
                                that can transform the world in a sustainable way.
                                <br>
                                We are looking for the protagonists of the future, those who dare to dream big and who
                                want to turn their innovative ideas into real and impactful projects together with us.
                                <br>
                                Are you ready to join the adventure?</h4>
                                </div>
                        </div>
                    </section>

                </div>

            </div>

        </div>

    </div>
</div>
<!--Hero-unit ends-->

<section class="paper-layout">
    <h1 class="ml-5 mr-5 pt-5">Here's how it works.</h1>
    <p class="ml-5 mr-5">Innovates Open Innovation Marketplace connects organizations seeking solutions to important
        challenges they face
        with an unrivalled network of expert problem solvers – both experts from within your industry, but more
        importantly
        experts from outside of your industry that can offer diverse perspectives and fresh insight. Our proven
        Challenge
        Driven InnovationTM (CDI) model delivers real innovative solutions to complex problems and empowers Seeker
        organizations to uncover and harness new business opportunities.
    </p>
    <section class="paper-card">
        <div class="card">
            <img class="card-centered" src="assets/images/register.png">
            <div class="card-body">
                <h2>Register</h2>
                <p>
                    Sign up and complete your Solver profile
                </p>
            </div>
        </div>
        <div class="card">
            <img src="assets/images/review.png">
            <h2 class="card-title">Read the challenge</h2>
            <p class="card-text">
                Read the description of the Open Challenges in the Challenge Center.
            </p>
        </div>
        <div class="card">
            <img src="assets/images/submit.png">
            <h2>Submit</h2>
            <p>
                Upload proposed solution(s) you have developed for a specific Challenge.
            </p>
        </div>
        <div class="card">
            <img src="assets/images/win.png">
            <h2>Win</h2>
            <p>
                Receive cash awards for solutions accepted by Seeker organizations
            </p>
        </div>
    </section>
</section>

<!-- footer -->
<footer class="sticky-footer bg-light">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; INNOVEST 2021</span>
        </div>
    </div>
</footer>
<!-- footer -->
