.hero-unit-container{
    position: relative;
}

.hero-unit-mask{
    text-align: left;
    position: absolute;
    z-index: 0;
    width: 100%;
}

.hero-unit-mask h1{
    font-size: 3.7vw;
    transform: translateY(9vw);
    color: black;
    font-weight: 700;
}

.hero-image {
    display: block;
    overflow: visible;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}