<div [ngStyle]="{'color': data.error== false ? 'darkgreen':'red' }" *ngIf="data.error === false">
  <h1 mat-dialog-title>Submit Sucessful</h1>
  <div mat-dialog-content >
    Your solution was sucessfully submited and is under review.
  </div>
</div>

<div *ngIf="data.error === true">
  <h1 mat-dialog-title>Submit Failed</h1>
  <div mat-dialog-content>An error occurred please try again.</div>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>

<!-- //mat-dialog-container {
    background: $grey !important;
 } -->