<ul class="navbar-nav sidebar sidebar-dark accordion navbar-dark bg-black py-0 px-0" id="accordionSidebar" style="position: fixed;">
  
    <!-- Sidebar - Brand -->
    <!-- <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-text mx-3">INNOVEST</div>
    </a> -->

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <br>
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" data-toggle="collapse" 
                    data-bs-dismiss="offcanvas" (click)="dashboardHome()" data-toggle="collapse" href="#"> 
            <div class="sidebar-brand-text mx-3">Dashboard</div>
        </a>
    </li>
    <br>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet" />
    <!-- Nav Item - Pages Collapse Menu -->
    <br>
    <li class="nav-item">
        <a class="nav-link collapsed" data-toggle="collapse" data-bs-dismiss="offcanvas" (click)="gotoChallengeList('my')" href="#">
            <span>My Challenges</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" data-toggle="collapse" data-bs-dismiss="offcanvas" (click)="mySolutionsList()" href="#">
            <span>My Solutions</span>
        </a>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" data-toggle="collapse" data-bs-dismiss="offcanvas" (click)="gotoChallengeList('find')" href="#">
            <span>Find Challenges</span>
        </a>
    </li>

    <br>
    <!-- Divider -->
    <br><hr class="sidebar-divider d-none d-md-block"><br>
    <br>


    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="../../assets/images/positive-vote.png" alt="...">
        <p class="text-center mb-2">Help improve our website</p>
        <a class="btn btn-success btn-sm" [routerLink]="['../feedback']">Feedback</a>
    </div>
</ul>