<div fxLayoutAlign="center center" fxFlexFill class="main-div">
<mat-card fxFlex="25">
    <mat-toolbar colour="primary"><span>Login Page</span></mat-toolbar>  
    <form fxLayoutAlign="stretch" fxLayout="column">
          <mat-form-field >
            <input matInput placeholder="Username" required>
          </mat-form-field>
          <mat-form-field >
            <input matInput placeholder="Password" required>
          </mat-form-field>
          <button mat-raised-button color="primary">Login</button>
        </form>
    </mat-card>
</div>