<div class="main-div" style="margin-top: 20vh;">
  <ul class="circles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
     
    <form class="form" [formGroup]="loginform" (ngSubmit)="signIn()">
            <h2>LOGIN</h2>
            <input type=text class="box" placeholder="username" formControlName="username">
            <input type="password" class="box" placeholder="password" formControlName="password">
            
          <!--<mat-form-field >
            <input matInput placeholder="Password" >
          </mat-form-field>-->
          <!--<mat-form-field appearance="fill">
            <mat-label>password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>-->
        <button type="submit" id="submit">Login</button>
         <!--<input type="submit" value="SIGN IN" id="submit">-->
         <div class="error" *ngIf="isLoginFailed"><br />{{ errorMessage }}
        </div>
    </form>
    <div class="side">
      <img src="../../assets/images/image3.png" alt="">
    </div>
</div>