<div class="main-div" style="margin-top: 20vh;">
  <ul class="circles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
  <span *ngIf="infoMessage.length > 0">{{ infoMessage }}</span>
    <form class="form" [formGroup]="loginform" (ngSubmit)="signIn()">
            <h2>LOGIN</h2>
            <div class="form-group">
              <i class="fas fa-envelope"></i>
              <input type="email" class="box" placeholder="email" formControlName="email">
            </div>
            <div class="form-group">
              <i class="fas fa-lock"></i>
              <input type="password" class="box" placeholder="password" formControlName="password">
            </div>
            
            
          <!--<mat-form-field >
            <input matInput placeholder="Password" >
          </mat-form-field>-->
          <!--<mat-form-field appearance="fill">
            <mat-label>password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>-->
        <button type="submit" class="btn btn-primary btn-block" id="submit">Login</button>
         <!--<input type="submit" value="SIGN IN" id="submit">-->
         <div class="error" *ngIf="isLoginFailed"><br />{{ errorMessage }}
        </div>
    </form>
    <div class="side">
      <img src="../../assets/images/image3.png" alt="">
    </div>
</div>