*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.main-div{
    display: flex;
    height: 470px;
    width: 800px;
    border-radius: 25px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
    
}
.side{
    display: flex;
    justify-content: center;
    border-radius: 25px;
}
.side img{
    width: 450px;
    height: 450px;
    border-radius: 25px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50% ;
    align-items: center;
    background-image: linear-gradient(45deg,#f046ff,#9b00e8);
    position: relative;
    border-radius: 25px;

}
.box:focus{
    outline: none;
}
.error{
    color: red;
}
.form h2{
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
    color:white;

}
.box{
    width: 230px;
    border-radius: 25px;
    margin-top: 15px;
    padding : 10px;
    padding-left: 50px;
    border : none;
    -webkit-box-shadow : 0px 10px 49px -14px rgba(0,0,0,0.7);
    -moz-box-shadow : 0px 10px 49px -14px rgba(0,0,0,0.7);
    box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
}

.fas{
    position: relative;
    color: #bb36fd;
    left: 36px;
}
#submit{
    padding: 3px 10px;
    width: 30%;
    margin-top: 40px;
    background-color: white;
    color:#bb36fd;
    font-weight: bold;
    border: none;
    border-left: none;
    border-radius: 20px;
}
.side{
    display: flex;
    border-radius: 25px;
     position: relative;

}
.side img{
    width: 450px;
    height: 450px
    
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #bb36fd;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
