.bg-info{
    background-color: rgb(63, 1, 63) !important;
    border-color: antiquewhite;
}

.nav-link{
    color: wheat !important;
    font-weight: 400;
    font-size:small;
    justify-content: space-around;
}
.img-profile{
    margin-left: 1em;
    height: 2rem;
    width: 2rem;
  }

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: wheat;
}
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 99, 9);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.carousel-section{
    background-color: whitesmoke;
    height: 85vh;
}

.carousel-inner > .item > .img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 50%;
    height: 2vh;
}



