.editButton {
    display: inline-flex;
    text-align: right;
}

.example-full-width {
    width: 100%;
  }
  #solutionForm {
    margin-top: 10vh;
    margin-left: 15vw;
    margin-right: 15vw;
    font-family: sans-serif;
    font-size: medium;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
  }
  @media screen and (max-width: 729px) {
    .innerContainer {
      flex-wrap: wrap;
    }
    .item:first-child {
      flex-basis: 100%;
      width: 90vw;
      margin-right: 10vw;
    }
    .item:nth-child(2) {
      width: 90vw;
      margin-right: 10vw;
    }
  }

  
.full-content {
  height: 100%;
  width: 100%;
      background: linear-gradient(-45deg, #e79880, #f0b0c8, #dbecf1, #d7f7f0);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
     
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
