<mat-card style="height:fit-content; margin: 30px;" color="accent">
    <mat-card-title  align="center">
      Solution Title
    </mat-card-title>
    <mat-card-subtitle>Challenge Name: xxx</mat-card-subtitle>
    <mat-card-subtitle>Solution Status: xxx</mat-card-subtitle>
    <img mat-card-image src="https://cdn.pixabay.com/photo/2018/09/22/10/58/business-3694993_960_720.jpg" alt="Cover Photo">
    <mat-card-content>
      Solution Description =>
      <div class="sol-desc">
        xxx Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, voluptates quas, animi earum quibusdam delectus corporis esse, alias explicabo ab amet quasi nam perferendis consectetur inventore sint voluptas quos sapiente reprehenderit! Consequuntur, ipsam tenetur.
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button>Edit</button>
    </mat-card-actions>
  </mat-card>