<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-black py-0 px-0">
    <a class="navbar-brand" href="#">
        <h1 class="logo"><strong><i>INNOVEST</i></strong></h1>
    </a>
    <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <a class="nav-link"><li>Create Challenge</li></a>
        </ul>
    </div>
 </nav> -->

<div class="container">
    <div class="item" id = "item-1"> Challenge Name* <div><input type="text" placeholder="Aniruddha Surse"> </div></div>
    <div class="item" id = "item-2"> Challenge Description*<div><input type="text" class = "description-box" placeholder="Type your challenge decription here...." ></div></div>
    <div class="item" id = "item-3"> Challenge Domain* <div><input type="text" placeholder="Aerospace Engineering"> </div></div>
    <div class="item" id = "item-4"> Registration Start Date and Time* <div><input type="datetime-local" placeholder="datetime-local"> </div></div>
    <div class="item" id = "item-5"> Registration End Date and Time* <div><input type="datetime-local" placeholder="datetime-local"> </div></div>
    <div class="item item-6-container" id = "item-6"> Registration Type*
        <div class="nested-item" id = "single-box"><input type="radio" id="single" name="registration_type" value="SINGLE"><label for="single">Single</label></div>
        <div class="nested-item" id = "team-box"><input type="radio" id="team" name="registration_type" value="TEAM"><label for="team">Team</label></div>
        <div class="nested-item" id = "both-box"><input type="radio" id="bothAllowed" name="registration_type" value="BOTH"><label for="boothAllowed">Both Allowed</label></div>      
    </div>
    <div class="item item-7-container" id = "item-7"> Participation Type* 
        <div class="nested-item" id = "unpaid-box"><input type="radio" id="unpaid" name="participation_type" value="UNPAID"><label for="single">Unpaid</label></div>
        <div class="nested-item" id = "paid-box"><input type="radio" id="paid" name="participation_type" value="PAID"><label for="team">Paid</label></div>
    </div>

</div>