<body>
    <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
        <ul class="navbar-nav mr-auto">
            <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasStart" aria-controls="offcanvasStart">Menu</button>
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasStart" aria-labelledby="offcanvasStartLabel">
                <div class="offcanvas-body">
                    <app-dashboard-sidebar></app-dashboard-sidebar>
                </div>
            </div>
        </ul>
        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto ">
    
            <li class="nav-item">
                <a class="nav-link" id="userDropdown" role="button" (click)="createChallenge()">
                    <span class="mr-2 btn btn-success btn-sm">Add Challenge</span>
                </a>
            </li>
    
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="text-gray-600 small">{{userName }}</span>
                    <img class="img-profile rounded-circle" src="../../assets/images/undraw_profile.svg">
                </a>
                <!-- Dropdown - User Information -->
                <!-- *ngIf="userName!=null" -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"  aria-labelledby="userDropdown">
                    <a class="dropdown-item" (click) = "myProfile()" data-toggle="collapse" href="#">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>
    
        </ul>
    
    </nav>
    
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
    <footer class="sticky-footer bg-light">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; INNOVEST 2021</span>
            </div>
        </div>
    </footer>
</body>
    