.banner {
  height: 50vh;
  width: 100vw;
  border-bottom: 10px;
  border-bottom-color: #652cb3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  min-height: 15vh;
}
.basicInfo {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  flex-wrap: wrap;
}
.basicInfoCard {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: center;
  color: #652cb3;
  flex-wrap: wrap;
}
.basicInfoCard h5 {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.registerCard {
  margin-left: 15vw;
  margin-right: 15vw;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.abstractCard {
  margin-left: 15vw;
  margin-right: 15vw;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
p {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
}
mat-label {
  font-size: 1.6em;
}
.challengeAbstract {
  margin-top: 30px;
  text-align: justify;
  font-family: sans-serif, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  font-size: 1.1em;
}
.challengeRules {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: justify;
  font-family: sans-serif, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  font-size: 1.1em;
}
.challengeTitle {
  color: #652cb3;
  width: 50vw;
}
.downloads {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: justify;
  font-family: sans-serif, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  font-size: 1.1em;
  width: 34vw;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
mat-label {
  font-size: 1.6em;
}
.rewardDiv {
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 30px;
}
.challengeInfoDiv {
  display: flex;
  flex-direction: row;
}
.profileImageCard {
  width: 12vh;
  height: 12vh;
}
.challengeName {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: flex-start;
}

.mat-chip {
  background-color: #8440e4;
  color: white;
}
.smallCardsDiv {
  display: flex;
  margin-left: 15vw;
  margin-right: 15vw;
  justify-content: space-between;
}
.rewardsContainer {
  background-color: white;
  width: 100vw;
  height: 80vh;
  z-index: 100;
}
.rewardBanner {
  width: 50vw;
  margin-left: 15vw;
  margin-top: 50px;
  height: 30vh;
  color: primary;
  background-color: rgb(224, 72, 224);
  z-index: 100;
}
.feedBackContainer {
  width: 100vw;
}

.myInput {
  width: 70vw;
  border-radius: 25px;
  margin-top: 15px;
  padding: 20px;
  padding-left: 50px;
  border: none;
  -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}
.myInput:focus {
  outline: none;
}

.myLeftCtn .btn {
  background: linear-gradient(45deg, #bb36fd, #9b00e8);
  color: #fff;
  width: 200px;
  border: none;
  border-radius: 25px;
  padding: 10px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}
.myLeftCtn .btn:hover {
  background: linear-gradient(45deg, #c85bff, #b726ff);
}
.myLeftCtn .btn:focus {
  outline: none;
}
.myLeftCtn .fas {
  position: relative;
  color: #bb36fd;
  left: 36px;
}

.feedbackForm {
  margin-left: 40px;
  margin-top: 30px;
}
