@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");

button {
  font-family: "Nunito Sans";
}
ul {
  list-style-type: none;
  padding-inline-start: 35px;
}
svg {
  width: 100%;
}
h1 {
  font-size: 7.5em;
  margin: 40px 0px;
  font-weight: bold;
}
h2 {
  font-weight: bold;
}

.btn {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 8px 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  transition: 0.2s ease;
  font-weight: bold;
  margin: 5px 0px;
}
.btn.green {
  border: 4px solid #6b2ccf;
  color: var(--blue);
}
.btn.green:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #6b2ccf;
  z-index: -1;
  transition: 0.2s ease;
}
.btn.green:hover {
  color: white;
  background: #6b2ccf;
  transition: 0.2s ease;
}
.btn.green:hover:before {
  width: 100%;
}
@media screen and (max-width: 768px) {
  body {
    display: block;
  }
  .container {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
